#######################
# Configuration Files #
#######################
config/
api/parse-playlist/playlist.m3u
api/parse-playlist/config.php

#########################
# Packages/Dependencies #
#########################
node_modules/
bower_components/

#################
# Miscellaneous #
#################
.old/

##########################
# Submodules (temporary) #
##########################
app/ergast/