<p class="lead">

  <strong>Status: Down for Maintenance! </strong><br/>
  <small>Be back somewhere around 12:00 EST (17:00 UTC) - sorry for the inconvenience!</small>
  <!--<small>Let's go racing.</small>-->

<!-- Status Labels 

  <span class="label label-info"
    tooltip-placement="bottom"
    tooltip="Ongoing work being done on servers.">
    Server
  </span>

  Inclement Weather 
  <span class="label label-warning"
    tooltip-placement="bottom"
    tooltip="Inclement weather forecasted for server region.">
    Weather
  </span>
  

  <span class="label label-warning"
    tooltip-placement="bottom"
    tooltip="The stream will be down very briefly whilst it restarts after the 1997 European Grand Prix.">
    Restart After Europe '97
  </span>-->

<!-- IFrame Controls -->  
<!--<button type="button" class="btn btn-sm pull-right" ng-click="modeCinema = !modeCinema">-->
  <i class="fa"
    ng-click="toggleCinema()"
    ng-class="{'fa-desktop' : modeCinema, 'fa-film' : !modeCinema}">
  </i>
<!--</button>-->
</p>