<div class="container-fluid">
  <div class="navbar-header">
    <button class="btn btn-primary btn-sm btn-navbar pull-right visible-xs" 
      ng-click="collapseNavbar = !collapseNavbar">
      <i class="fa fa-bars"></i>
      <span class="sr-only">Toggle Nav</span>
    </button>
    <a class="navbar-brand">
      <img alt="Brand" src="assets/images/brand.png">
      <sub>Poppy<sup>Seed</sup></sub>Party
    </a>
  </div>

  <div class="collapse navbar-collapse" collapse="collapseNavbar">
    <ul class="nav navbar-nav navbar-right">
      <li><a>Reddit</a></li>
      <li><a>About</a></li>
    </ul>
  </div>

  
      
</div>

<!--

<li>
  <button type="button" class="btn btn-primary btn-xs navbar-btn navbar-right" ng-click="modeCinema = !modeCinema">
    <span class="glyphicon" ng-class="{ 'glyphicon-resize-full' : !modeCinema, 'glyphicon-resize-small' : modeCinema}"></span>
    Cinema Mode
  </button>
</li>

<li>
  <button type="button" class="btn btn-primary btn-xs navbar-btn navbar-right" ng-click="modeWebIRC = !modeWebIRC">
    <span class="glyphicon glyphicon-comment" ng-class="{ 'active' : modeWebIRC }"></span>
    Webchat
  </button>
</li>
-->